# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
build/
.dart_tool/
.flutter-plugins
.packages
pubspec.lock
# Ignore platform folders
test/
linux/
ios/
android/
web/
windows/

# IDEs
.vscode/
.idea/
